In [1]:
#Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [3]:
soup = BeautifulSoup(page.content)

In [4]:
main_heading = soup.find_all("span",class_="mw-headline")
main_heading

[<span class="mw-headline" id="From_today's_featured_article">From today's featured article</span>,
 <span class="mw-headline" id="Did_you_know_...">Did you know ...</span>,
 <span class="mw-headline" id="In_the_news">In the news</span>,
 <span class="mw-headline" id="On_this_day">On this day</span>,
 <span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span>,
 <span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span>,
 <span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span>,
 <span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span>]

In [5]:
heading = []
for i in main_heading:
    heading.append(i.text)
heading

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

###### 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [6]:
page = requests.get("https://www.imdb.com/list/ls091520106/")
page

In [7]:
soup = BeautifulSoup(page.content)

In [8]:
name = soup.find_all('h3',class_='lister-item-header')

In [9]:
titles = [movie.find('a').text for movie in name]
titles

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [10]:
rating = soup.find_all('div',class_='ipl-rating-star small')
rating

[<div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9.3</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9.2</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.4</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>

In [11]:
imdb_rating = []
for i in rating:
    imdb_rating.append(i.text.replace("\n",""))
imdb_rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [12]:
len(imdb_rating)

100

In [13]:
year = soup.find_all('span',class_="lister-item-year text-muted unbold")

In [14]:
rel_year = []
for i in year:
    rel_year.append(i.text.replace("\n",""))
rel_year

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [15]:
len(rel_year)

100

In [16]:
import pandas as pd
movie = pd.DataFrame({})
movie["Movie Name"] = titles
movie["Rating"] = imdb_rating
movie["Year"] = rel_year
movie

                             Movie Name Rating    Year
0              The Shawshank Redemption    9.3  (1994)
1                         The Godfather    9.2  (1972)
2                The Godfather: Part II      9  (1974)
3                       The Dark Knight      9  (2008)
4                          12 Angry Men      9  (1957)
..                                  ...    ...     ...
95                   North by Northwest    8.3  (1959)
96                   A Clockwork Orange    8.3  (1971)
97                               Snatch    8.3  (2000)
98  Le fabuleux destin d'Amélie Poulain    8.3  (2001)
99                              The Kid    8.3  (1921)

[100 rows x 3 columns]

###### 3) Write a python program to display IMDB’s Top rated 100 Indian movies

In [17]:
page = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [18]:
soup = BeautifulSoup(page.content)

In [19]:
name = soup.find_all('td',class_="titleColumn")

In [20]:
titles = [movie.find('a').text for movie in name]
titles

['Pather Panchali',
 'Nayakan',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'Golmaal',
 'Apur Sansar',
 'C/o Kancharapalem',
 'Kireedam',
 'Manichitrathazhu',
 'Natsamrat',
 '96',
 'Thevar Magan',
 'Black Friday',
 'Drishyam 2',
 'Kumbalangi Nights',
 'Visaaranai',
 '3 Idiots',
 'Taare Zameen Par',
 'Jersey',
 'Soorarai Pottru',
 'Ratsasan',
 'Thalapathi',
 'Dangal',
 'Asuran',
 'Kaithi',
 'Devasuram',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Peranbu',
 'Vada Chennai',
 'Pyaasa',
 'Guide',
 'Thani Oruvan',
 'Kannathil Muthamittal',
 'Chupke Chupke',
 'Iruvar',
 'Spadikam',
 'Agent Sai Srinivasa Athreya',
 'Super Deluxe',
 'Drishyam',
 'Vikram Vedha',
 'Aruvi',
 'Tumbbad',
 'Mahanati',
 'Khosla Ka Ghosla!',
 'Pudhu Pettai',
 'Anand',
 'Premam',
 'Anniyan',
 'Kaakkaa Muttai',
 'Andhadhun',
 'Mudhalvan',
 'Bangalore Days',
 'Papanasam',
 'Dhuruvangal Pathinaaru',
 'Satya',
 'Soodhu Kavvum',
 'Shahid',
 'Jigarthanda',
 'Pithamagan',
 'Gangs of Wasseypur',
 'Paan Singh Tomar',
 'Sairat',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Talvar',
 'Swades: We, the People',
 'Sholay',
 'Black',
 'Ustad Hotel',
 'Chak De! India',
 'Jo Jeeta Wohi Sikandar',
 'Nil Battey Sannata',
 'Drishyam',
 'Mughal-E-Azam',
 'Maheshinte Prathikaaram',
 'Zindagi Na Milegi Dobara',
 'Article 15',
 'Charulata',
 'Udaan',
 'Theeran adhigaaram ondru',
 'A Wednesday',
 'Queen',
 'Masaan',
 'Alai Payuthey',
 'Munna Bhai M.B.B.S.',
 'Sarfarosh',
 'Baasha',
 'Dil Chahta Hai',
 'Roja',
 'OMG: Oh My God!',
 'Rang De Basanti',
 'Chhichhore',
 'Lagaan: Once Upon a Time in India',
 'Kahaani',
 'Andaz Apna Apna',
 'Uri: The Surgical Strike',
 'Virumandi',
 'PK',
 'Lucia',
 'Iqbal',
 'The Legend of Bhagat Singh',
 'Bommarillu',
 'Barfi!',
 'Pink',
 'Maqbool',
 'Bombay',
 'Section 375',
 'Omkara',
 'Indian',
 'Lage Raho Munna Bhai',
 'The Great Indian Kitchen',
 'Thadam',
 'Pelli Choopulu',
 'Baahubali 2: The Conclusion',
 'Deewaar',
 'Pranchiyettan and the Saint',
 'Padosan',
 'Gulaal',
 'Naduvula Konjam Pakkatha Kaanom',
 'Haider',
 'Dilwale Dulhania Le Jayenge',
 'Athadu',
 'Rangasthalam',
 'Take Off',
 'Thondimuthalum Dhriksakshiyum',
 'Ugly',
 'Padayappa',
 'Mother India',
 'Special Chabbis',
 'K.G.F: Chapter 1',
 'Aadukalam',
 'Vaaranam Aayiram',
 'Ship of Theseus',
 'Gully Boy',
 'Ulidavaru Kandanthe',
 'Badhaai ho',
 'Dev.D',
 'Bajrangi Bhaijaan',
 'Vedam',
 'Jalsaghar',
 'Vaastav: The Reality',
 'Karnan',
 'Ankhon Dekhi',
 'Company',
 'Mukkabaaz',
 'Deiva Thirumagal',
 'Arjun Reddy',
 'Manjhi: The Mountain Man',
 'Pizza',
 'My Name Is Khan',
 'Memories',
 'Dil Bechara',
 'Charlie',
 'Kal Ho Naa Ho',
 'Jab We Met',
 'Mumbai Police',
 'Angamaly Diaries',
 'Vinnaithaandi Varuvaayaa',
 'Unnaipol Oruvan',
 'Border',
 'Super 30',
 'Kaakha..Kaakha: The Police',
 'Padman',
 'Lakshya',
 'Vettaiyaadu Vilaiyaadu',
 'Dor',
 'Bãhubali: The Beginning',
 'Poove Unakkaga',
 'Hey Ram',
 'Baby',
 'Ayyappanum Koshiyum',
 'Sonchiriya',
 'Airlift',
 'Anjaam Pathiraa',
 'Hindi Medium',
 'Okkadu',
 'English Vinglish',
 'Gangaajal',
 'Manam',
 'The Lunchbox',
 'Johnny Gaddaar',
 'Ab Tak Chhappan',
 'Joji',
 'Badla',
 'Secret Superstar',
 'Pokiri',
 'Nayak: The Real Hero',
 'Vicky Donor',
 'M.S. Dhoni: The Untold Story',
 'Mr. India',
 'Raazi',
 'Udta Punjab',
 'RangiTaranga',
 'Stanley Ka Dabba',
 'Don',
 'Goodachari',
 'Rock On!!',
 'Veer-Zaara',
 'Ko',
 'Velaiilla Pattadhari',
 'Dasvidaniya',
 'Aligarh',
 'Guru',
 'Arya',
 'Samsara',
 'Thuppakki',
 'Kai po che!',
 'Oye Lucky! Lucky Oye!',
 'Kaththi',
 '24',
 'Mumbai Meri Jaan',
 'Rockstar',
 'Avane Srimannarayana',
 'Eega',
 'Ugramm',
 'Kabhi Haan Kabhi Naa',
 'Ghilli',
 'Darr',
 'Kapoor & Sons',
 'Newton',
 'Aamir',
 'The Tashkent Files',
 'Sir',
 'Earth',
 'Agneepath',
 'Madras Cafe',
 'Sarkar',
 'Pyaar Ka Punchnama',
 'Neerja',
 'Bheja Fry',
 'Detective Byomkesh Bakshy!',
 'Highway',
 'Kannum Kannum Kollaiyadithaal',
 'Magadheera',
 'Baazigar',
 'Manorama: Six Feet Under',
 'Tanu Weds Manu Returns',
 'Saala Khadoos',
 'Ludo',
 'Wake Up Sid',
 'Piku',
 '1 - Nenokkadine',
 'Dhruva',
 'Geetha Govindam',
 'Kuch Kuch Hota Hai',
 'Jodhaa Akbar',
 'Trapped',
 'Parmanu: The Story of Pokhran',
 'Sanju']

In [21]:
title = []
for i in range(0,100):
    title.append(titles[i])

In [22]:
len(title)

100

In [23]:
title

['Pather Panchali',
 'Nayakan',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'Golmaal',
 'Apur Sansar',
 'C/o Kancharapalem',
 'Kireedam',
 'Manichitrathazhu',
 'Natsamrat',
 '96',
 'Thevar Magan',
 'Black Friday',
 'Drishyam 2',
 'Kumbalangi Nights',
 'Visaaranai',
 '3 Idiots',
 'Taare Zameen Par',
 'Jersey',
 'Soorarai Pottru',
 'Ratsasan',
 'Thalapathi',
 'Dangal',
 'Asuran',
 'Kaithi',
 'Devasuram',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Peranbu',
 'Vada Chennai',
 'Pyaasa',
 'Guide',
 'Thani Oruvan',
 'Kannathil Muthamittal',
 'Chupke Chupke',
 'Iruvar',
 'Spadikam',
 'Agent Sai Srinivasa Athreya',
 'Super Deluxe',
 'Drishyam',
 'Vikram Vedha',
 'Aruvi',
 'Tumbbad',
 'Mahanati',
 'Khosla Ka Ghosla!',
 'Pudhu Pettai',
 'Anand',
 'Premam',
 'Anniyan',
 'Kaakkaa Muttai',
 'Andhadhun',
 'Mudhalvan',
 'Bangalore Days',
 'Papanasam',
 'Dhuruvangal Pathinaaru',
 'Satya',
 'Soodhu Kavvum',
 'Shahid',
 'Jigarthanda',
 'Pithamagan',
 'Gangs of Wasseypur',
 'Paan Singh Tomar',
 'Sairat',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Talvar',
 'Swades: We, the People',
 'Sholay',
 'Black',
 'Ustad Hotel',
 'Chak De! India',
 'Jo Jeeta Wohi Sikandar',
 'Nil Battey Sannata',
 'Drishyam',
 'Mughal-E-Azam',
 'Maheshinte Prathikaaram',
 'Zindagi Na Milegi Dobara',
 'Article 15',
 'Charulata',
 'Udaan',
 'Theeran adhigaaram ondru',
 'A Wednesday',
 'Queen',
 'Masaan',
 'Alai Payuthey',
 'Munna Bhai M.B.B.S.',
 'Sarfarosh',
 'Baasha',
 'Dil Chahta Hai',
 'Roja',
 'OMG: Oh My God!',
 'Rang De Basanti',
 'Chhichhore',
 'Lagaan: Once Upon a Time in India',
 'Kahaani',
 'Andaz Apna Apna',
 'Uri: The Surgical Strike',
 'Virumandi',
 'PK',
 'Lucia']

In [24]:
movie_rating = soup.find_all('td',class_="ratingColumn imdbRating")

In [25]:
rating = []
for i in movie_rating:
    rating.append(i.text.replace("\n",""))
rating

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5']

In [26]:
rate = []
for i in range(0,100):
    rate.append(rating[i])

In [27]:
len(rate)

100

In [28]:
rel_year = soup.find_all('span',class_="secondaryInfo")
year = []
for i in rel_year:
    year.append(i.text.replace("\n",""))
year

['(1955)',
 '(1987)',
 '(2018)',
 '(2003)',
 '(1979)',
 '(1959)',
 '(2018)',
 '(1989)',
 '(1993)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2004)',
 '(2021)',
 '(2019)',
 '(2015)',
 '(2009)',
 '(2007)',
 '(2019)',
 '(2020)',
 '(2018)',
 '(1991)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(1993)',
 '(1956)',
 '(1983)',
 '(2018)',
 '(2018)',
 '(1957)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1975)',
 '(1997)',
 '(1995)',
 '(2019)',
 '(2019)',
 '(2013)',
 '(2017)',
 '(2016)',
 '(2018)',
 '(2018)',
 '(2006)',
 '(2006)',
 '(1971)',
 '(2015)',
 '(2005)',
 '(2014)',
 '(2018)',
 '(1999)',
 '(2014)',
 '(2015)',
 '(2016)',
 '(1998)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2003)',
 '(2012)',
 '(2012)',
 '(2016)',
 '(2013)',
 '(2000)',
 '(2015)',
 '(2004)',
 '(1975)',
 '(2005)',
 '(2012)',
 '(2007)',
 '(1992)',
 '(2015)',
 '(2015)',
 '(1960)',
 '(2016)',
 '(2011)',
 '(2019)',
 '(1964)',
 '(2010)',
 '(2017)',
 '(2008)',
 '(2013)',
 '(2015)',
 '(2000)',
 '(2003)',
 '(1999)',
 '(1995)',
 '(2001)',
 '(1992)',
 '(2012)',
 '(2006)',
 '(2019)',
 '(2001)',
 '(2012)',
 '(1994)',
 '(2018)',
 '(2004)',
 '(2014)',
 '(2013)',
 '(2005)',
 '(2002)',
 '(2006)',
 '(2012)',
 '(2016)',
 '(2003)',
 '(1995)',
 '(2019)',
 '(2006)',
 '(1996)',
 '(2006)',
 '(2021)',
 '(2019)',
 '(2016)',
 '(2017)',
 '(1975)',
 '(2010)',
 '(1968)',
 '(2009)',
 '(2012)',
 '(2014)',
 '(1995)',
 '(2005)',
 '(2018)',
 '(2017)',
 '(2017)',
 '(2013)',
 '(1999)',
 '(1957)',
 '(2013)',
 '(2018)',
 '(2011)',
 '(2008)',
 '(2012)',
 '(2019)',
 '(2014)',
 '(2018)',
 '(2009)',
 '(2015)',
 '(2010)',
 '(1958)',
 '(1999)',
 '(2021)',
 '(2013)',
 '(2002)',
 '(2017)',
 '(2011)',
 '(2017)',
 '(2015)',
 '(2012)',
 '(2010)',
 '(2013)',
 '(2020)',
 '(2015)',
 '(2003)',
 '(2007)',
 '(2013)',
 '(2017)',
 '(2010)',
 '(2009)',
 '(1997)',
 '(2019)',
 '(2003)',
 '(2018)',
 '(2004)',
 '(2006)',
 '(2006)',
 '(2015)',
 '(1996)',
 '(2000)',
 '(2015)',
 '(2020)',
 '(2019)',
 '(2016)',
 '(2020)',
 '(2017)',
 '(2003)',
 '(2012)',
 '(2003)',
 '(2014)',
 '(2013)',
 '(2007)',
 '(2004)',
 '(2021)',
 '(2019)',
 '(2017)',
 '(2006)',
 '(2001)',
 '(2012)',
 '(2016)',
 '(1987)',
 '(2018)',
 '(2016)',
 '(2015)',
 '(2011)',
 '(1978)',
 '(2018)',
 '(2008)',
 '(2004)',
 '(2011)',
 '(2014)',
 '(2008)',
 '(2015)',
 '(2007)',
 '(2004)',
 '(2001)',
 '(2012)',
 '(2013)',
 '(2008)',
 '(2014)',
 '(2016)',
 '(2008)',
 '(2011)',
 '(2019)',
 '(2012)',
 '(2014)',
 '(1994)',
 '(2004)',
 '(1993)',
 '(2016)',
 '(2017)',
 '(2008)',
 '(2019)',
 '(2018)',
 '(1998)',
 '(1990)',
 '(2013)',
 '(2005)',
 '(2011)',
 '(2016)',
 '(2007)',
 '(2015)',
 '(2014)',
 '(2020)',
 '(2009)',
 '(1993)',
 '(2007)',
 '(2015)',
 '(2016)',
 '(2020)',
 '(2009)',
 '(2015)',
 '(2014)',
 '(2016)',
 '(2018)',
 '(1998)',
 '(2008)',
 '(2016)',
 '(2018)',
 '(2018)']

In [29]:
release_year = []
for i in range(0,100):
    release_year.append(year[i])

In [30]:
len(release_year)

100

In [31]:
indian_movies = pd.DataFrame({})
indian_movies["Name"] = title
indian_movies["Rating"] = rate
indian_movies["Year"] = release_year
indian_movies

                        Name Rating    Year
0            Pather Panchali    8.5  (1955)
1                    Nayakan    8.5  (1987)
2          Pariyerum Perumal    8.5  (2018)
3                 Anbe Sivam    8.5  (2003)
4                    Golmaal    8.5  (1979)
..                       ...    ...     ...
95           Andaz Apna Apna    8.1  (1994)
96  Uri: The Surgical Strike    8.1  (2018)
97                 Virumandi    8.1  (2004)
98                        PK    8.1  (2014)
99                     Lucia    8.1  (2013)

[100 rows x 3 columns]

###### 4) Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [32]:
page = requests.get("https://bookpage.com/reviews")
page

In [33]:
soup = BeautifulSoup(page.content)

In [34]:
name = soup.find_all('h4',class_="italic")
book_name = []
for i in name:
    book_name.append(i.text.replace("\n",""))
book_name

['The Rose Code',
 'The Damage',
 ' ★ Blackout',
 ' ★ The Sweetness of Water',
 'The Killing Hills',
 ' ★ The Outlier',
 ' ★ Ahmed Aziz’s Epic Year',
 ' ★ Cultish',
 ' ★ The Tangleroot Palace',
 ' ★ Bath Haus']

In [35]:
names = []
for i in range(0,5):
    names.append(book_name[i])
names

['The Rose Code',
 'The Damage',
 ' ★ Blackout',
 ' ★ The Sweetness of Water',
 'The Killing Hills']

In [36]:
author = soup.find_all('p',class_="sans bold")
author_n = []
for i in author:
    author_n.append(i.text.replace("\n",""))
author_n

['Kate Quinn, Saskia Maarleveld',
 'Caitlin Wahrer',
 'Dhonielle Clayton, Tiffany D. Jackson, Nic Stone, Angie Thomas, Ashley Woodfolk, Nicola Yoon',
 'Nathan Harris',
 'Chris Offutt',
 'Kai Bird',
 'Nina Hamza',
 'Amanda Montell',
 'Marjorie Liu',
 'P.J. Vernon']

In [37]:
author_names = []
for i in range(0,5):
    author_names.append(author_n[i])
author_names

['Kate Quinn, Saskia Maarleveld',
 'Caitlin Wahrer',
 'Dhonielle Clayton, Tiffany D. Jackson, Nic Stone, Angie Thomas, Ashley Woodfolk, Nicola Yoon',
 'Nathan Harris',
 'Chris Offutt']

In [38]:
gen = soup.find_all('p',class_="genre-links hidden-phone")
genr = []
for i in gen:
    genr.append(i.text.replace("\n",""))
genre = []
for i in range(0,5):
    genre.append(genr[i])
genre

['Audio / Fiction / Historical Fiction',
 'Mystery & Suspense / Suspense',
 'YA / YA Fiction',
 'Fiction / Historical Fiction',
 'Fiction / Crime Fiction']

In [39]:
rev = soup.find_all('p',class_="excerpt")
revi = []
for i in rev:
    revi.append(i.text.replace("\n",""))
review = []
for i in range(0,5):
    review.append(revi[i])
review

['The Rose Code is a terrific story, brilliantly performed by Saskia Maarleveld. Or as Osla would say, it’s a real corker!',
 '',
 '',
 'Nathan Harris’ Civil War-set debut novel celebrates all manner of relationships that combat hate.',
 'A rural noir with attitude to spare, The Killing Hills moves as briskly as a well-constructed miniseries.']

In [40]:
books = pd.DataFrame({})
books["Book Name"] = names
books["Author's Name"] = author_names
books["Genre"] = genre
books["Review"] = review
books

,Book Name,Author's Name,Genre,Review
0,The Rose Code,"Kate Quinn, Saskia Maarleveld",Audio / Fiction / Historical Fiction,"The Rose Code is a terrific story, brilliantly..."
1,The Damage,Caitlin Wahrer,Mystery & Suspense / Suspense,
2,★ Blackout,"Dhonielle Clayton, Tiffany D. Jackson, Nic Sto...",YA / YA Fiction,
3,★ The Sweetness of Water,Nathan Harris,Fiction / Historical Fiction,Nathan Harris’ Civil War-set debut novel celeb...
4,The Killing Hills,Chris Offutt,Fiction / Crime Fiction,"A rural noir with attitude to spare, The Killi..."

##### 5) Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
###### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 
###### ii) Top 10 ODI Batsmen in men along with the records of their team and rating. 
###### iii) Top 10 ODI bowlers along with the records of their team and rating

In [41]:
top_team = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
top_team

In [42]:
soup = BeautifulSoup(top_team.content)

In [43]:
team = soup.find_all('span',class_='u-hide-phablet')
teams = []
for i in team:
    teams.append(i.text.replace("\n",""))
top_ten_team = []
for i in range(0,10):
    top_ten_team.append(teams[i])
top_ten_team

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [44]:
mat1 = soup.find('td',class_="rankings-block__banner--matches")
matc = []
matc.append(mat1.text.replace("\n",""))
matc

['17']

In [45]:
mat = soup.find_all('td',class_='table-body__cell u-center-text')
match = []
for i in mat:
    match.append(i.text.replace("\n",""))

In [46]:
matches = []
for i in range(0,18,2):
    matches.append(match[i])
matches

['25', '29', '27', '20', '24', '27', '27', '24', '17']

In [47]:
matches.insert(0,matc[0])
matches

['17', '25', '29', '27', '20', '24', '27', '27', '24', '17']

In [48]:
p1 = soup.find('td',class_="rankings-block__banner--points")
po1 = []
po1.append(p1.text.replace("\n",""))
po1

['2,054']

In [49]:
point = soup.find_all('td',class_='table-body__cell u-center-text')
poin = []
for i in point:
    poin.append(i.text.replace("\n",""))

In [50]:
poin_top = []
for i in range(1,18,2):
    poin_top.append(poin[i])
poin_top

['2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054']

In [51]:
poin_top.insert(0,po1[0])
poin_top

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054']

In [52]:
rat = soup.find('td',class_="rankings-block__banner--rating u-text-right")
rat
rat1 = []
rat1.append(rat.text.replace("\n",""))
rat1

['                            121                            ']

In [53]:
rate = soup.find_all("td",class_="table-body__cell u-text-right rating")
rate1 = []
for i in rate:
    rate1.append(i.text.replace("\n",""))
rati = []
for i in range(0,9):
    rati.append(rate1[i])
rati

['118', '115', '115', '107', '97', '90', '82', '78', '62']

In [54]:
rati.insert(0,rat1[0])
rati

['                            121                            ',
 '118',
 '115',
 '115',
 '107',
 '97',
 '90',
 '82',
 '78',
 '62']

In [55]:
top_ODI_teams = pd.DataFrame({})
top_ODI_teams["Team"] = top_ten_team
top_ODI_teams["Matches"] = matches
top_ODI_teams["Points"] = poin_top
top_ODI_teams["Rating"] = rati
top_ODI_teams

,Team,Matches,Points,Rating
0,New Zealand,17,"2,054",121 ...
1,Australia,25,"2,945",118
2,India,29,"3,344",115
3,England,27,"3,100",115
4,South Africa,20,"2,137",107
5,Pakistan,24,"2,323",97
6,Bangladesh,27,"2,438",90
7,West Indies,27,"2,222",82
8,Sri Lanka,24,"1,876",78
9,Afghanistan,17,"1,054",62

##### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [56]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page

In [57]:
soup = BeautifulSoup(page.content)

In [58]:
men = soup.find('div',class_="rankings-block__banner--name-large")
men1 = []
men1.append(men.text.replace("\n",""))
men1

['Babar Azam']

In [59]:
men2 = soup.find_all("td",class_="table-body__cell rankings-table__name name")
mens2 = []
for i in men2:
    mens2.append(i.text.replace("\n",""))
top_men = []
for i in range(0,9):
    top_men.append(mens2[i])
top_men

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [60]:
top_men.insert(0,men1[0])
top_men

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [61]:
team = soup.find("div",class_="rankings-block__banner--nationality")
team1 = []
team1.append(team.text.replace("\n",""))
team1

['PAK                    ']

In [62]:
team2 = soup.find_all("span",class_="table-body__logo-text")
teams2 = []
for i in team2:
    teams2.append(i.text.replace("\n",""))
top_team = []
for i in range(0,9):
    top_team.append(teams2[i])
top_team

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [63]:
top_team.insert(0,team1[0])
top_team

['PAK                    ',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'PAK',
 'SA',
 'AUS',
 'WI']

In [64]:
rate1 = soup.find("div",class_="rankings-block__banner--rating")
rat1 = []
rat1.append(rate1.text.replace("\n",""))
rat1

['865']

In [65]:
rate2 = soup.find_all("td",class_="table-body__cell rating")
rates2=[]
for i in rate2:
    rates2.append(i.text.replace("\n",""))
top_rate = []
for i in range(9):
    top_rate.append(rates2[i])
top_rate

['857', '825', '801', '791', '785', '778', '778', '773', '773']

In [66]:
top_rate.insert(0,rat1[0])
top_rate

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [67]:
Top_batsmen = pd.DataFrame({})
Top_batsmen["Name"] = top_men
Top_batsmen["Team"] = top_team
Top_batsmen["Rating"] = top_rate
Top_batsmen

                  Name                     Team Rating
0           Babar Azam  PAK                        865
1          Virat Kohli                      IND    857
2         Rohit Sharma                      IND    825
3          Ross Taylor                       NZ    801
4          Aaron Finch                      AUS    791
5       Jonny Bairstow                      ENG    785
6         Fakhar Zaman                      PAK    778
7  Francois du Plessis                       SA    778
8         David Warner                      AUS    773
9            Shai Hope                       WI    773

###### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [68]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page

In [69]:
soup = BeautifulSoup(page.content)

In [70]:
nam = soup.find("div",class_="rankings-block__banner--name-large")
name1 = []
name1.append(nam.text.replace("\n",""))
name1

['Trent Boult']

In [71]:
name2 = soup.find_all("td",class_="table-body__cell rankings-table__name name")
names2 = []
for i in name2:
    names2.append(i.text.replace("\n",""))
top_men = []
for i in range(9):
    top_men.append(names2[i])
top_men

['Mehedi Hasan',
 'Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mustafizur Rahman']

In [72]:
top_men.insert(0,name1[0])
top_men

['Trent Boult',
 'Mehedi Hasan',
 'Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mustafizur Rahman']

In [73]:
team = soup.find("div",class_="rankings-block__banner--nationality")
team1 = []
team1.append(team.text.replace("\n",""))
team1

['NZ                    ']

In [74]:
team2 = soup.find_all("span",class_="table-body__logo-text")
teams = []
for i in team2:
    teams.append(i.text.replace("\n",""))
top_team = []
for i in range(9):
    top_team.append(teams[i])
top_team

['BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']

In [75]:
top_team.insert(0,team1[0])
top_team

['NZ                    ',
 'BAN',
 'AFG',
 'NZ',
 'IND',
 'SA',
 'ENG',
 'AUS',
 'AUS',
 'BAN']

In [76]:
rate = soup.find("div",class_="rankings-block__banner--rating")
rate1 = []
rate1.append(rate.text.replace("\n",""))
rate1

['737']

In [77]:
rate2 = soup.find_all("td",class_="table-body__cell rating")
rating = []
for i in rate2:
    rating.append(i.text.replace("\n",""))
top_rate = []
for i in range(9):
    top_rate.append(rating[i])
top_rate

['713', '708', '691', '690', '666', '665', '660', '646', '645']

In [78]:
top_rate.insert(0,rate1[0])
top_rate

['737', '713', '708', '691', '690', '666', '665', '660', '646', '645']

In [79]:
top_bowlers = pd.DataFrame({})
top_bowlers["Name"] = top_men
top_bowlers["Team"] = top_team
top_bowlers["Rating"] = top_rate
top_bowlers

                Name                    Team Rating
0        Trent Boult  NZ                        737
1       Mehedi Hasan                     BAN    713
2   Mujeeb Ur Rahman                     AFG    708
3         Matt Henry                      NZ    691
4     Jasprit Bumrah                     IND    690
5      Kagiso Rabada                      SA    666
6       Chris Woakes                     ENG    665
7     Josh Hazlewood                     AUS    660
8        Pat Cummins                     AUS    646
9  Mustafizur Rahman                     BAN    645

######  Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
###### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
###### ii) Top 10 women’s ODI players along with the records of their team and rating.
###### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

##### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [80]:
pages = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
pages

In [81]:
soup = BeautifulSoup(pages.content)

In [82]:
team = soup.find_all("span",class_="u-hide-phablet")
team1 = []
for i in team:
    team1.append(i.text.replace("\n",""))
top_team = []
for i in range(10):
    top_team.append(team1[i])
top_team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [83]:
match_1 = soup.find("td",class_="rankings-block__banner--matches")
match1 = []
match1.append(match_1.text.replace("\n",""))
match1

['18']

In [84]:
matches = soup.find_all("td",class_="table-body__cell u-center-text")
matches1 = []
for i in matches:
    matches1.append(i.text.replace("\n",""))
top_match = []
for i in range(0,18,2):
    top_match.append(matches1[i])
top_match

['24', '17', '20', '21', '12', '15', '5', '11', '2']

In [85]:
top_match.insert(0,match1[0])
top_match

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [86]:
point_1 = soup.find("td",class_="rankings-block__banner--points")
point1 = []
point1.append(point_1.text.replace("\n",""))
point1

['2,955']

In [87]:
points = soup.find_all("td",class_="table-body__cell u-center-text")
points1 = []
for i in points:
    points1.append(i.text.replace("\n",""))
top_point = []
for i in range(1,18,2):
    top_point.append(points1[i])
top_point

['2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']

In [88]:
top_point.insert(0,point1[0])
top_point

['2,955',
 '2,828',
 '1,993',
 '2,226',
 '1,947',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [89]:
rate = soup.find("td",class_="rankings-block__banner--rating u-text-right")
rate1 = []
rate1.append(rate.text.replace("\n",""))
rate1

['                            164                            ']

In [90]:
rati = soup.find_all("td",class_="table-body__cell u-text-right rating")
rating = []
for i in rati:
    rating.append(i.text.replace("\n",""))
top_rate = []
for i in range(9):
    top_rate.append(rating[i])
top_rate

['118', '117', '111', '93', '85', '73', '61', '47', '13']

In [91]:
top_rate.insert(0,rate1[0])
top_rate

['                            164                            ',
 '118',
 '117',
 '111',
 '93',
 '85',
 '73',
 '61',
 '47',
 '13']

In [92]:
import pandas as pd
top_ODI_teams = pd.DataFrame({})
top_ODI_teams["Teams"] = top_team
top_ODI_teams["Matches"] = top_match
top_ODI_teams["Points"] = top_point
top_ODI_teams["Rating"] = top_rate
top_ODI_teams

,Teams,Matches,Points,Rating
0,Australia,18,"2,955",164 ...
1,South Africa,24,"2,828",118
2,England,17,"1,993",117
3,India,20,"2,226",111
4,New Zealand,21,"1,947",93
5,West Indies,12,"1,025",85
6,Pakistan,15,"1,101",73
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13

###### ii)Top 10 women’s ODI players along with the records of their team and rating

In [115]:
womenpages = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
womenpages

In [116]:
soup = BeautifulSoup(womenpages.content)

In [117]:
womenname1 = soup.find("div",class_="rankings-block__banner--name-large")
womenname1
womenname = []
womenname.append(womenname1.text.replace("\n",""))
womenname

['Tammy Beaumont']

In [118]:
names = soup.find_all("td",class_="table-body__cell rankings-table__name name")

In [119]:
names1 = []
for i in names:
    names1.append(i.text.replace("\n",""))
top_name = []
for i in range(9):
    top_name.append(names1[i])
top_name

['Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [120]:
top_name.insert(0,womenname[0])
top_name

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [121]:
team = soup.find("div",class_="rankings-block__banner--nationality")
team1 = []
team1.append(team.text.replace("\n",""))
team1

['ENG                    ']

In [122]:
teams = soup.find_all("span",class_="table-body__logo-text")
teams1 = []
for i in teams:
    teams1.append(i.text.replace("\n",""))
top_team = []
for i in range(9):
    top_team.append(teams1[i])
top_team

['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [123]:
top_team.insert(0,team1[0])
top_team

['ENG                    ',
 'SA',
 'AUS',
 'WI',
 'AUS',
 'NZ',
 'IND',
 'IND',
 'ENG',
 'SA']

In [124]:
rate = soup.find("div",class_="rankings-block__banner--rating")
rate1 = []
rate1.append(rate.text.replace("\n",""))
rate1

['765']

In [125]:
rating = soup.find_all("td",class_="table-body__cell rating")
ratings = []
for i in rating:
    ratings.append(i.text.replace("\n",""))
top_rating = []
for j in range(9):
    top_rating.append(ratings[j])
top_rating

['758', '756', '746', '723', '715', '710', '709', '685', '683']

In [126]:
top_rating.insert(0,rate1[0])
top_rating

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

In [127]:
top_players = pd.DataFrame({})
top_players["Name"] = top_name
top_players["Team"] = top_team
top_players["Rating"] = top_rating
top_players

                Name                     Team Rating
0     Tammy Beaumont  ENG                        765
1        Lizelle Lee                       SA    758
2       Alyssa Healy                      AUS    756
3    Stafanie Taylor                       WI    746
4        Meg Lanning                      AUS    723
5  Amy Satterthwaite                       NZ    715
6    Smriti Mandhana                      IND    710
7        Mithali Raj                      IND    709
8     Natalie Sciver                      ENG    685
9    Laura Wolvaardt                       SA    683

##### iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [128]:
all_rounder_page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
all_rounder_page

In [129]:
soup = BeautifulSoup(all_rounder_page.content)

In [130]:
womenname1 = soup.find("div",class_="rankings-block__banner--name-large")
womenname1
womenname = []
womenname.append(womenname1.text.replace("\n",""))
womenname

['Marizanne Kapp']

In [131]:
names = soup.find_all("td",class_="table-body__cell rankings-table__name name")

In [132]:
names1 = []
for i in names:
    names1.append(i.text.replace("\n",""))
top_name = []
for i in range(9):
    top_name.append(names1[i])
top_name

['Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [133]:
top_name.insert(0,womenname[0])
top_name

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [134]:
team = soup.find("div",class_="rankings-block__banner--nationality")
team1 = []
team1.append(team.text.replace("\n",""))
team1

['SA                    ']

In [135]:
teams = soup.find_all("span",class_="table-body__logo-text")
teams1 = []
for i in teams:
    teams1.append(i.text.replace("\n",""))
top_team = []
for i in range(9):
    top_team.append(teams1[i])
top_team

['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [136]:
top_team.insert(0,team1[0])
top_team

['SA                    ',
 'AUS',
 'WI',
 'ENG',
 'IND',
 'AUS',
 'AUS',
 'SA',
 'NZ',
 'NZ']

In [137]:
rate = soup.find("div",class_="rankings-block__banner--rating")
rate1 = []
rate1.append(rate.text.replace("\n",""))
rate1

['418']

In [138]:
rating = soup.find_all("td",class_="table-body__cell rating")
ratings = []
for i in rating:
    ratings.append(i.text.replace("\n",""))
top_rating = []
for j in range(9):
    top_rating.append(ratings[j])
top_rating

['418', '410', '349', '343', '307', '252', '243', '242', '236']

In [139]:
top_rating.insert(0,rate1[0])
top_rating

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

In [140]:
top_players = pd.DataFrame({})
top_players["Name"] = top_name
top_players["Team"] = top_team
top_players["Rating"] = top_rating
top_players

               Name                    Team Rating
0    Marizanne Kapp  SA                        418
1      Ellyse Perry                     AUS    418
2   Stafanie Taylor                      WI    410
3    Natalie Sciver                     ENG    349
4     Deepti Sharma                     IND    343
5     Jess Jonassen                     AUS    307
6  Ashleigh Gardner                     AUS    252
7  Dane van Niekerk                      SA    243
8     Sophie Devine                      NZ    242
9       Amelia Kerr                      NZ    236

##### Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [141]:
pages = requests.get("https://www.amazon.in/s?k=mobile+phones+under+20000+rupees&crid=240E84ME0L06&sprefix=mobile+phones+under+20000%2Caps%2C310&ref=nb_sb_ss_ts-doa-p_2_25")
pages

In [142]:
#Since the response is 503, it is not able to scrape the amazon website using BeautifulSoup

In [143]:
soup = BeautifulSoup(pages.content)

In [144]:
name = soup.find_all("span",class_="a-size-medium a-color-base a-text-normal")
name

[]

In [145]:
names = []
for i in name:
    names.append(i.text.replace("\n",""))
names

[]

In [146]:
price = soup.find_all("span",class_="a-price-whole")
price

[]

In [147]:
img = soup.find_all("img",class_="s-image")
image = []
for i in img:
    image.append(i['src'])
image

[]

In [148]:
rate = soup.find_all("span",class_="a-icon-alt")
rating = []

###### Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [149]:
weather = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YMdGTPkzbIU")
weather

In [150]:
soup = BeautifulSoup(weather.content)

In [151]:
period1 = soup.find_all("p",class_="period-name")
period = []
for i in period1:
    period.append(i.text.replace("\n",""))
period

['Tonight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight']

In [152]:
len(period)

9

In [153]:
desc = soup.find_all("p",class_="short-desc")
description = []
for i in desc:
    description.append(i.text.replace("\n",""))
description

['Mostly Clear',
 'Sunny thenSunny andBreezy',
 'Mostly Clearand Breezythen PartlyCloudy',
 'Sunny thenSunny andBreezy',
 'Partly Cloudy',
 'Mostly Sunnythen Sunnyand Breezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Mostly Sunny',
 'Partly Cloudy']

In [154]:
len(description)

9

In [155]:
temp_low = soup.find_all("p",class_="temp temp-low")
temp_high = soup.find_all("p",class_="temp temp-high")
low_temp = []
for i in temp_low:
    low_temp.append(i.text.replace("\n",""))
low_temp

['Low: 56 °F', 'Low: 56 °F', 'Low: 57 °F', 'Low: 58 °F', 'Low: 58 °F']

In [156]:
high_temp = []
for i in temp_high:
    high_temp.append(i.text.replace("\n",""))
high_temp

['High: 71 °F', 'High: 71 °F', 'High: 69 °F', 'High: 69 °F']

In [157]:
j = 0
for i in range(1,8,2):
    low_temp.insert(i,high_temp[j])
    j = j+1
low_temp

['Low: 56 °F',
 'High: 71 °F',
 'Low: 56 °F',
 'High: 71 °F',
 'Low: 57 °F',
 'High: 69 °F',
 'Low: 58 °F',
 'High: 69 °F',
 'Low: 58 °F']

In [158]:
len(low_temp)

9

In [159]:
elab = soup.find_all("div",class_="col-sm-10 forecast-text")
elab_desc = []
for i in elab:
    elab_desc.append(i.text.replace("\n",""))
elab_desc

['Mostly clear, with a low around 56. Southwest wind around 16 mph, with gusts as high as 21 mph. ',
 'Sunny, with a high near 71. Breezy, with a west southwest wind 9 to 14 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 32 mph. ',
 'Partly cloudy, with a low around 56. Breezy, with a west southwest wind 16 to 26 mph, with gusts as high as 34 mph. ',
 'Sunny, with a high near 71. Breezy, with a west southwest wind 15 to 23 mph, with gusts as high as 30 mph. ',
 'Partly cloudy, with a low around 57. West southwest wind 16 to 21 mph, with gusts as high as 28 mph. ',
 'Mostly sunny, with a high near 69. Breezy. ',
 'Mostly cloudy, with a low around 58. Breezy. ',
 'Mostly sunny, with a high near 69.',
 'Partly cloudy, with a low around 58.',
 'Mostly sunny, with a high near 68.',
 'Partly cloudy, with a low around 56.',
 'Mostly sunny, with a high near 68.',
 'Partly cloudy, with a low around 57.',
 'Sunny, with a high near 72.']

In [160]:
elab_description = []
for i in range(0,9):
    elab_description.append(elab_desc[i])
elab_description

['Mostly clear, with a low around 56. Southwest wind around 16 mph, with gusts as high as 21 mph. ',
 'Sunny, with a high near 71. Breezy, with a west southwest wind 9 to 14 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 32 mph. ',
 'Partly cloudy, with a low around 56. Breezy, with a west southwest wind 16 to 26 mph, with gusts as high as 34 mph. ',
 'Sunny, with a high near 71. Breezy, with a west southwest wind 15 to 23 mph, with gusts as high as 30 mph. ',
 'Partly cloudy, with a low around 57. West southwest wind 16 to 21 mph, with gusts as high as 28 mph. ',
 'Mostly sunny, with a high near 69. Breezy. ',
 'Mostly cloudy, with a low around 58. Breezy. ',
 'Mostly sunny, with a high near 69.',
 'Partly cloudy, with a low around 58.']

In [161]:
len(elab_description)

9

In [162]:
import pandas as pd
san_francisco = pd.DataFrame({})
san_francisco["Period"] = period
san_francisco["Short Description"] = description
san_francisco["Temprature"] = low_temp
san_francisco["Description"] = elab_description
san_francisco

,Period,Short Description,Temprature,Description
0,Tonight,Mostly Clear,Low: 56 °F,"Mostly clear, with a low around 56. Southwest ..."
1,Saturday,Sunny thenSunny andBreezy,High: 71 °F,"Sunny, with a high near 71. Breezy, with a wes..."
2,SaturdayNight,Mostly Clearand Breezythen PartlyCloudy,Low: 56 °F,"Partly cloudy, with a low around 56. Breezy, w..."
3,Sunday,Sunny thenSunny andBreezy,High: 71 °F,"Sunny, with a high near 71. Breezy, with a wes..."
4,SundayNight,Partly Cloudy,Low: 57 °F,"Partly cloudy, with a low around 57. West sout..."
5,Monday,Mostly Sunnythen Sunnyand Breezy,High: 69 °F,"Mostly sunny, with a high near 69. Breezy."
6,MondayNight,Partly Cloudyand Breezythen MostlyCloudy,Low: 58 °F,"Mostly cloudy, with a low around 58. Breezy."
7,Tuesday,Mostly Sunny,High: 69 °F,"Mostly sunny, with a high near 69."
8,TuesdayNight,Partly Cloudy,Low: 58 °F,"Partly cloudy, with a low around 58."

###### 9)Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [163]:
page = requests.get("https://internshala.com/fresher-jobs")
page

In [164]:
soup = BeautifulSoup(page.content)

In [165]:
titles = soup.find_all("div",class_="heading_4_5 profile")
title = []
for i in titles:
    title.append(i.text.replace("\n",""))
title

['Business Development Executive ',
 'Associate Front End Developer ',
 'Corporate Sales Executive ',
 'Associate Software Developer (Full-Stack - React And Node) ',
 'Customer Relationship Specialist ',
 'Associate Editor Engagement ',
 'Management Consultant Associate ',
 'Web Analytics Developer ',
 'Junior Social Media Marketing Manager ',
 'Junior Social Media Marketing Associate ',
 'Business Development Manager (Digital Marketing Sales) ',
 'Business Development Executive ',
 'Accountant ',
 'Research Associate ',
 'Assistant Coordinator - Tender Department ',
 'Customer Relationship Manager (Publishing Consultant) ',
 'Executive Assistant To Director ',
 'Learning Consultant - Sales ',
 'School/Teacher Consultant ',
 'Junior Recruiter ',
 'Software Developer ',
 'Business Development Executive (Inside Sales) ',
 'Web Developer ',
 'Order Processor ',
 'Full Stack Developer ',
 'Associate Software Developer ',
 'Reactjs Developer ',
 'Full Stack Developer ',
 'Business Development Executive ',
 'Corporate Sales Associate ',
 'Inside Sales Associate ',
 'Mobile App Developer ',
 'Junior MERN Stack Developer ',
 'Education Innovation Manager ',
 'General Management Associate ',
 'Content & E-commerce Management Trainee ',
 'Software Engineer ',
 'Sales Support & Operations Executive ',
 'Backend Developer ',
 'Accountant ']

In [166]:
len(title)

40

In [167]:
comp_names = soup.find_all("div",class_="heading_6 company_name")
comp_name = []
for i in comp_names:
    comp_name.append(i.text.replace("\n",""))
comp_name

['                        Picostone                    ',
 '                        AIMonk Labs Technology Limited                    ',
 '                        369 Zoss Waters                    ',
 '                        SleekSky LLC                    ',
 '                        InPhase Power Technologies                    ',
 '                        Cactus Communications Private Limited                    ',
 '                        StrategyCo.Global                    ',
 '                        DataVinci Private Limited                    ',
 '                        The Test Tribe                    ',
 '                        Glu Studios                    ',
 '                        Graygraph Technologies LLC                    ',
 '                        BookLeaf Publishing                    ',
 '                        Ravi Ladia & Co                    ',
 '                        Market Vistas Consumer Insights                    ',
 '                        Global Source Trading LLC                    ',
 '                        Blue Rose Publishers                    ',
 '                        Best Roadways Limited                    ',
 '                        Geekster                    ',
 '                        InfyBytes AI Labs Private Limited                    ',
 '                        Radish Consultants Private Limited                    ',
 '                        Moxie.xyz                    ',
 '                        GREedge                    ',
 '                        Fullmoon Outdoor Web Solutions                    ',
 '                        InspectHOA                    ',
 '                        Nikulsan Technologies Private Limited                    ',
 '                        IQGateway                    ',
 '                        Startxlabs Technologies Private Limited                    ',
 '                        RavGins International Private Limited (Wobb.ai)                    ',
 '                        Varenyam Placements                    ',
 '                        HealthPlix Technologies Private Limited                    ',
 '                        Wizklub Learning                    ',
 '                        Fusion Engineering                    ',
 '                        DeepThought Edutech Ventures Private Limited                    ',
 '                        DeepThought Edutech Ventures Private Limited                    ',
 '                        Redwood Algorithms                    ',
 '                        Blooprint Ecom Consulting                    ',
 '                        QuikieApps                    ',
 '                        SysCloud Technologies Private Limited                    ',
 '                        Medcords Healthcare Solution Private Limited                    ',
 '                        Bagga Infrastructure Limited                    ']

In [168]:
len(comp_name)

40

In [169]:
ctcs = soup.find_all("div",class_="item_body")
ctc = []
for i in ctcs:
    ctc.append(i.text.replace("\n",""))
ctc_pay = []
for i in range(1,120,3):
    ctc_pay.append(ctc[i])
ctc_pay

['  3 - 6.5 LPA                                                    ',
 '  6 - 7 LPA                                                    ',
 '  3 - 5 LPA                                                    ',
 '  4 LPA                                                    ',
 '  3 - 3.5 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  4.5 - 7 LPA                                                    ',
 '  4.99 - 5 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 3.6 LPA                                                    ',
 '  3 - 4.5 LPA                                                    ',
 '  3 - 3.6 LPA                                                    ',
 '  3 LPA                                                    ',
 '  3 - 3.25 LPA                                                    ',
 '  3 LPA                                                    ',
 '  3 - 3.5 LPA                                                    ',
 '  3 LPA                                                    ',
 '  3 - 3.5 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 5 LPA                                                    ',
 '  9 LPA                                                    ',
 '  3.75 LPA                                                    ',
 '  4 - 4.2 LPA                                                    ',
 '  3 LPA                                                    ',
 '  3.5 - 5 LPA                                                    ',
 '  3.6 - 10 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3.3 - 4 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 6 LPA                                                    ',
 '  4.5 - 5.25 LPA                                                    ',
 '  3 - 5 LPA                                                    ',
 '  3 - 5 LPA                                                    ',
 '  4 - 5 LPA                                                    ',
 '  3 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 3.01 LPA                                                    ',
 '  3 - 7 LPA                                                    ',
 '  3 - 3.25 LPA                                                    ']

In [170]:
len(ctc_pay)

40

In [171]:
ctc

['Starts\xa0Immediately                        ',
 '  3 - 6.5 LPA                                                    ',
 "19 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  6 - 7 LPA                                                    ',
 "18 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 5 LPA                                                    ',
 "18 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  4 LPA                                                    ',
 "18 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.5 LPA                                                    ',
 "18 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4 LPA                                                    ',
 "18 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  4.5 - 7 LPA                                                    ',
 "18 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  4.99 - 5 LPA                                                    ',
 "17 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4 LPA                                                    ',
 "17 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.6 LPA                                                    ',
 "17 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4.5 LPA                                                    ',
 "17 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.6 LPA                                                    ',
 "17 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 LPA                                                    ',
 "16 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.25 LPA                                                    ',
 "17 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 LPA                                                    ',
 "16 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.5 LPA                                                    ',
 "16 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 LPA                                                    ',
 "17 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.5 LPA                                                    ',
 "16 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4 LPA                                                    ',
 "16 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 5 LPA                                                    ',
 "16 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  9 LPA                                                    ',
 "15 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3.75 LPA                                                    ',
 "15 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  4 - 4.2 LPA                                                    ',
 "15 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 LPA                                                    ',
 "14 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3.5 - 5 LPA                                                    ',
 "14 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3.6 - 10 LPA                                                    ',
 "11 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4 LPA                                                    ',
 "11 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3.3 - 4 LPA                                                    ',
 "11 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4 LPA                                                    ',
 "11 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4 LPA                                                    ',
 "11 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 6 LPA                                                    ',
 "11 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  4.5 - 5.25 LPA                                                    ',
 "14 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 5 LPA                                                    ',
 "15 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 5 LPA                                                    ',
 "10 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  4 - 5 LPA                                                    ',
 "10 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 LPA                                                    ',
 "9 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 4 LPA                                                    ',
 "9 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.01 LPA                                                    ',
 "9 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 7 LPA                                                    ',
 "9 Jul' 21",
 'Starts\xa0Immediately                        ',
 '  3 - 3.25 LPA                                                    ',
 "8 Jul' 21"]

In [172]:
date = []
for i in range(2,len(ctc),3):
    date.append(ctc[i])
date

["19 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "15 Jul' 21",
 "15 Jul' 21",
 "15 Jul' 21",
 "14 Jul' 21",
 "14 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "14 Jul' 21",
 "15 Jul' 21",
 "10 Jul' 21",
 "10 Jul' 21",
 "9 Jul' 21",
 "9 Jul' 21",
 "9 Jul' 21",
 "9 Jul' 21",
 "8 Jul' 21"]

In [173]:
fresher_jobs = pd.DataFrame({})
fresher_jobs["Title"] = title
fresher_jobs["Company Name"] = comp_name
fresher_jobs["CTC"] = ctc_pay
fresher_jobs["Apply Date"] = date
fresher_jobs

,Title,Company Name,CTC,Apply Date
0,Business Development Executive,Picostone ...,3 - 6.5 LPA ...,19 Jul' 21
1,Associate Front End Developer,AIMonk Labs Technology...,6 - 7 LPA ...,18 Jul' 21
2,Corporate Sales Executive,369 Zoss Waters ...,3 - 5 LPA ...,18 Jul' 21
3,Associate Software Developer (Full-Stack - Rea...,SleekSky LLC ...,4 LPA ...,18 Jul' 21
4,Customer Relationship Specialist,InPhase Power Technolo...,3 - 3.5 LPA ...,18 Jul' 21
5,Associate Editor Engagement,Cactus Communications ...,3 - 4 LPA ...,18 Jul' 21
6,Management Consultant Associate,StrategyCo.Global ...,4.5 - 7 LPA ...,18 Jul' 21
7,Web Analytics Developer,DataVinci Private Limi...,4.99 - 5 LPA ...,17 Jul' 21
8,Junior Social Media Marketing Manager,The Test Tribe ...,3 - 4 LPA ...,17 Jul' 21
9,Junior Social Media Marketing Associate,Glu Studios ...,3 - 3.6 LPA ...,17 Jul' 21
10,Business Development Manager (Digital Marketin...,Graygraph Technologies...,3 - 4.5 LPA ...,17 Jul' 21
11,Business Development Executive,BookLeaf Publishing ...,3 - 3.6 LPA ...,17 Jul' 21
12,Accountant,Ravi Ladia & Co ...,3 LPA ...,16 Jul' 21
13,Research Associate,Market Vistas Consumer...,3 - 3.25 LPA ...,17 Jul' 21
14,Assistant Coordinator - Tender Department,Global Source Trading ...,3 LPA ...,16 Jul' 21
15,Customer Relationship Manager (Publishing Cons...,Blue Rose Publishers ...,3 - 3.5 LPA ...,16 Jul' 21
16,Executive Assistant To Director,Best Roadways Limited ...,3 LPA ...,17 Jul' 21
17,Learning Consultant - Sales,Geekster ...,3 - 3.5 LPA ...,16 Jul' 21
18,School/Teacher Consultant,InfyBytes AI Labs Priv...,3 - 4 LPA ...,16 Jul' 21
19,Junior Recruiter,Radish Consultants Pri...,3 - 5 LPA ...,16 Jul' 21
20,Software Developer,Moxie.xyz ...,9 LPA ...,15 Jul' 21
21,Business Development Executive (Inside Sales),GREedge ...,3.75 LPA ...,15 Jul' 21
22,Web Developer,Fullmoon Outdoor Web S...,4 - 4.2 LPA ...,15 Jul' 21
23,Order Processor,InspectHOA ...,3 LPA ...,14 Jul' 21
24,Full Stack Developer,Nikulsan Technologies ...,3.5 - 5 LPA ...,14 Jul' 21
25,Associate Software Developer,IQGateway ...,3.6 - 10 LPA ...,11 Jul' 21
26,Reactjs Developer,Startxlabs Technologie...,3 - 4 LPA ...,11 Jul' 21
27,Full Stack Developer,RavGins International ...,3.3 - 4 LPA ...,11 Jul' 21
28,Business Development Executive,Varenyam Placements ...,3 - 4 LPA ...,11 Jul' 21
29,Corporate Sales Associate,HealthPlix Technologie...,3 - 4 LPA ...,11 Jul' 21
30,Inside Sales Associate,Wizklub Learning ...,3 - 6 LPA ...,11 Jul' 21
31,Mobile App Developer,Fusion Engineering ...,4.5 - 5.25 LPA ...,14 Jul' 21
32,Junior MERN Stack Developer,DeepThought Edutech Ve...,3 - 5 LPA ...,15 Jul' 21
33,Education Innovation Manager,DeepThought Edutech Ve...,3 - 5 LPA ...,10 Jul' 21
34,General Management Associate,Redwood Algorithms ...,4 - 5 LPA ...,10 Jul' 21
35,Content & E-commerce Management Trainee,Blooprint Ecom Consult...,3 LPA ...,9 Jul' 21
36,Software Engineer,QuikieApps ...,3 - 4 LPA ...,9 Jul' 21
37,Sales Support & Operations Executive,SysCloud Technologies ...,3 - 3.01 LPA ...,9 Jul' 21
38,Backend Developer,Medcords Healthcare So...,3 - 7 LPA ...,9 Jul' 21
39,Accountant,Bagga Infrastructure L...,3 - 3.25 LPA ...,8 Jul' 21

#####  Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price
https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.

In [174]:
page = requests.get("https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2")
page

In [175]:
soup = BeautifulSoup(page.content)

In [176]:
titles = soup.find_all("h2",class_="heading-6 font-semi-bold nb__1AShY")
title = []
for i in titles:
    title.append(i.text.replace("\n",""))
title

['4 BHK In Independent House  For Sale  In Ear Oppo, Doddanagamangala Road Naganathapura, Ninayka Layout ',
 '4 BHK For Sale  In Daadys Garden In Electronic City ',
 '4 BHK In Independent House  For Sale  In Sarjapura ',
 '4 BHK Flat  For Sale  In Electronic City ',
 '4 BHK In Independent House  For Sale  In Electronic City,  ',
 '4 BHK In Independent House  For Sale  In Electronic City ',
 '4 BHK Apartment  For Sale  In Gopalan Gardenia In Electronic City ',
 '4 BHK Flat  For Sale  In Electronic City ',
 '4 BHK Flat  For Sale  In Heena Enclave In Electronic City ',
 '4 BHK In Independent House  For Sale  In Ananth Nagar ']

In [177]:
len(title)

10

In [178]:
loc = soup.find_all("div",class_="nb__2CMjv")
location = []
for i in loc:
    location.append(i.text.replace("\n",""))
location

['Independent House, Near opposite to Sobha Silicon Oasis, Hosa Road, Doddanagamangala Village, Pragathi Nagar, Basapura, Bengaluru, Karnataka, India',
 'Daadys Garden\xa0 Kammasandra Rd, Kammasandra, Electronic City, Bengaluru, Karnataka 560100, India',
 'Independent House,  Shantipura Village , S.P Layout , near  Shantipura Panchayat Office',
 'Standalone Building, Shikaripalya, near Shams School',
 'Independent House,  Krishna reddy layout-Near Maruti Suzuki ARENA (Surakshaa Car Care, Bengaluru, Electronic City)',
 'Independent House, Dhruv Dhama LayoutNear Heddari Icon',
 'Gopalan Gardenia\xa0 Gopalan gardenia, Veerasandra Main Rd, Veer Sandra, Electronic City, Bengaluru, Karnataka 560100, India',
 'Standalone Building, Konappana Agrahara, Near Saffron Supermarket',
 ' Neeladri Nagar,Near Pioneer Sun Blossom',
 'Independent House, Glass factory Outlet nd cross Near Grand Mart ']

In [179]:
len(location)

10

In [180]:
emis = soup.find_all("div",class_="font-semi-bold heading-6")
emi = []
for i in emis:
    emi.append(i.text)
emi_list = []
for i in range(1,len(emi),3):
    emi_list.append(emi[i])
emi_list

['₹45,851/Month',
 '₹85,971/Month',
 '₹40,120/Month',
 '₹20,060/Month',
 '₹1.43 Lacs/Month',
 '₹51,583/Month',
 '₹63,045/Month',
 '₹28,657/Month',
 '₹71,643/Month',
 '₹56,168/Month']

In [181]:
prices = soup.find_all("div",class_="font-semi-bold")
price = []
for i in prices:
    price.append(i.text)
price
price_list = []
for i in range(2,len(price),3):
    price_list.append(price[i])
price_list

['₹80 Lacs',
 '₹1.5 Crores',
 '₹70 Lacs',
 '₹35 Lacs',
 '₹2.5 Crores',
 '₹90 Lacs',
 '₹1.1 Crores',
 '₹50 Lacs',
 '₹1.25 Crores',
 '₹98 Lacs']

In [182]:
len(emi_list)

10

In [183]:
len(price_list)

10

In [184]:
areas = soup.find_all("div",class_="nb__3oNyC")
area_list = []
for i in areas:
    area_list.append(i.text)
area_list

['1,200 sqft',
 '2,600 sqft',
 '1,100 sqft',
 '1,400 sqft',
 '2,500 sqft',
 '2,400 sqft',
 '2,650 sqft',
 '1,120 sqft',
 '2,350 sqft',
 '2,200 sqft']

In [185]:
len(area_list)

10

In [186]:
import pandas as pd
housing = pd.DataFrame({})
housing["Title"] = title
housing["Location"] = location
housing["Area"] = area_list
housing["EMI"] = emi_list
housing["Price"] = price_list
housing

,Title,Location,Area,EMI,Price
0,4 BHK In Independent House For Sale In Ear O...,"Independent House, Near opposite to Sobha Sili...","1,200 sqft","₹45,851/Month",₹80 Lacs
1,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys Garden Kammasandra Rd, Kammasandra, El...","2,600 sqft","₹85,971/Month",₹1.5 Crores
2,4 BHK In Independent House For Sale In Sarja...,"Independent House, Shantipura Village , S.P L...","1,100 sqft","₹40,120/Month",₹70 Lacs
3,4 BHK Flat For Sale In Electronic City,"Standalone Building, Shikaripalya, near Shams ...","1,400 sqft","₹20,060/Month",₹35 Lacs
4,4 BHK In Independent House For Sale In Elect...,"Independent House, Krishna reddy layout-Near ...","2,500 sqft",₹1.43 Lacs/Month,₹2.5 Crores
5,4 BHK In Independent House For Sale In Elect...,"Independent House, Dhruv Dhama LayoutNear Hedd...","2,400 sqft","₹51,583/Month",₹90 Lacs
6,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft","₹63,045/Month",₹1.1 Crores
7,4 BHK Flat For Sale In Electronic City,"Standalone Building, Konappana Agrahara, Near ...","1,120 sqft","₹28,657/Month",₹50 Lacs
8,4 BHK Flat For Sale In Heena Enclave In Elec...,"Neeladri Nagar,Near Pioneer Sun Blossom","2,350 sqft","₹71,643/Month",₹1.25 Crores
9,4 BHK In Independent House For Sale In Anant...,"Independent House, Glass factory Outlet nd cro...","2,200 sqft","₹56,168/Month",₹98 Lacs